<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521994911750-q4nnkieqs7jocscb5j3oiea26cm7aa1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521994911750-q4nnkieqs7jocscb5j3oiea26cm7aa1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>521994911750-u38357jgqdrrsqmtbheuedlanr01mp1b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLTI_2I8_1fhyDa95GmP3D0N8baHkapgI</string>
	<key>GCM_SENDER_ID</key>
	<string>521994911750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chipinapp</string>
	<key>PROJECT_ID</key>
	<string>chipin-e8f4e</string>
	<key>STORAGE_BUCKET</key>
	<string>chipin-e8f4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521994911750:ios:c4a8be1b744fb0d63c0387</string>
</dict>
</plist>